/************************************* GLOBAL STYLE *************************************/

body {
    /* background */
    background: #000000;

    /* fonts */
    font-family: 'Century Gothic', 'Candara', sans-serif;
    color: #FFFFFF;
}

/************************************* GLOBAL COLORS *************************************/

.turquoise {
    color: #00FFFF;
}

.turquoise-bd {
    background-color: #00FFFF;
}

.pink {
    color: #FF00FF;
}

.pink-bd {
    background-color: #FF00FF;
}

a {
    color: #FFFFFF;
}

#songs p {
    margin: 0px;
}

.line {
    background-color: #303030;
    height: 1px;
    width: 100%;
}

/************************************* GLOBAL SPACING *************************************/

body {
    margin: 0px;
    padding: 0px; 
    height: 100%;
    width: 100%;
}

.content {
    min-height: 70vh;
    margin: 2rem 15%;
}

h1 {
    margin: 3rem;
}

h2 {
    margin: 0rem;
}

#albums p {
    margin: 0.1rem;
    text-align: center;
    text-overflow: ellipsis;
}

h1 {
    text-align: center;
}

/************************************* GLOBAL DISPLACEMENT *************************************/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

.left {
    text-align: left !important;
}

/************************************* HEADER *************************************/

.header {
    border-bottom: #00FFFF solid 2px;
    padding: 1rem;
    padding: 1.5rem 15%;
}

.header img {
    height: 60px;
}

.header p {
    margin-left: 5rem;
}

.header p:hover {
    color: #FF00FF;
    cursor: pointer;
}

.header a {
    text-decoration: none;
}

/************************************* FOOTER *************************************/

.footer {
    border-top: #00FFFF solid 2px;
    padding: 2rem;
}

.footer a,
#home a,
#presentation-text a {
    text-decoration: none;
}

.footer a:hover,
#presentation-text a:hover {
    text-decoration: underline;
}

/************************************* HOME *************************************/

#home a,
#albums a,
#artists a {
    text-decoration: none;
}

#home h1 {
    margin-top: 0;
}

/************************************* FILTERS BANNER *************************************/

.filter-type:hover {
    color: #FF00FF;
}

.favorite-logo {
    height: 2rem;
    width: 2rem;
}

input[type="search"],
select {
    background: black;
    color: white;
    border: none;
    border-bottom: 2px solid #00FFFF;
    font-family: 'Century Gothic', 'Arial', sans-serif;
    font-size: 16px;
    width: 13.5rem;
    height: 2.5rem;
    margin-left: 0.7rem;
    padding-bottom: .5rem;
}

input[type="search"]:focus,
input[type="search"]:focus-visible,
input[type="search"]:active,
select:focus,
select:focus-visible,
select:active {
    border: none;
    border-bottom: #FF00FF solid 2px;
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 16px;
    width: 16px;
    background: url('./cross-icon.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

select {
    margin-left: 1rem;
    width: 10rem;
}

/************************************* ARTIST CARD *************************************/

img:hover {
    cursor: pointer;
}

#artists .img-container {
    display: inline-block;
    position: relative;
}
  
#artists .img-container:hover::after {
    content: "";
    border-radius: 10rem;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px 9px #00FFFF;
    pointer-events: none; 
}

/************************************* ALBUM CARD *************************************/

img:hover {
    cursor: pointer;
}

#albums .img-container {
    display: inline-block;
    position: relative;
}
  
#albums .img-container:hover::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 50px 9px #FF00FF;
    pointer-events: none; 
}

/************************************* RESPONSIVE *************************************/

@media all and (max-width: 850px) {
    
    /******* HEADER *******/
    .header {
        flex-direction: column;
    }
    #menu p {
        margin: 30px 30px 0px 30px;
    }

    /******* ARTIST & ALBUM PAGE *******/
    #presentation {
        flex-direction: column;
    }
    #presentation-text {
        align-items: center;
        margin-top: 1rem;
    }
    #presentation > img {
        align-self: center;
        margin-right: 0rem !important;
    }

    /******* SONG CARD *******/
    p.nonable {
        display: none;
    }
    #songs .song-title {
        width: 100% !important;
        max-width: 13rem !important;
        text-align: left !important;
    }
}

@media all and (max-width: 1040px) {
    
    /******* FILTER BANNER *******/
    #filter-banner {
        flex-direction: row;
        justify-content: center;
        height: fit-content !important;
    }
    #element-type-filter {
        margin: 30px 0 5px 0;
    }
}

@media all and (max-width: 700px) {
    
    /******* FILTER BANNER *******/
    #filter-banner #select-filter {
        flex-direction: column;
    }
    #filter-banner #select-filter * {
        margin: 10px 0;
    }
    #element-type-filter {
        margin: 30px 0 5px 0;
    }
}

@media all and (max-width: 600px) {
    /******* ALBUMS LISTS *******/
    #albums {
        justify-content: center;
    }
}